.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.LayoutBackground {
  background-color: #EFEDF2;
}

.TitelFont {
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  white-space: nowrap;           
  overflow: hidden;           
  text-overflow: ellipsis;
}

.Icon {
  width: 24px;
  height: 24px;
}

.subTitleFont {

  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  white-space: nowrap;           
  overflow: hidden;           
  text-overflow: ellipsis;

}

.dashBoardIcon {
  width: 40px;
  height: 40px;
  max-width: 40px; 
}

.dashboardSubH {
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #4A5157;
  white-space: nowrap;           
  overflow: hidden;           
  text-overflow: ellipsis;

}

.dashboardH {
  font-family: 'Poppins';
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  white-space: nowrap;           
  overflow: hidden;           
  text-overflow: ellipsis;
}


.card {
  max-width: 100%;  
  overflow: hidden; 
  white-space: nowrap;                      
  text-overflow: ellipsis;
}

.navLOgo1{
  width: 100px;
}

.vertiBraker{
  color : #C6CAD1;
}