.selectedBar {
    position: relative;
}

.selectedBar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem; 
    border-top-right-radius: 1.25rem; 
    padding: 0.0625rem; /* 1px */
    background: linear-gradient(96.76deg, #7D54F3 0%, #CEBCFF 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
}

.selectedIcon {
    width: 1.5rem; 
    height: 1.5rem;
}

.normalIcon {
    width: 1.25rem;
    height: 1.25rem; 
    max-width: 1.25rem;
}

.thoughPara {
    font-family: 'Inter';
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 0.9075rem; 
    color: #787486;
}

.thoughtHeading {
    font-family: 'Inter';
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.059rem; 
}

.thoughtContainer {
    border-radius: 1.25rem; 
}

.menuText {
    font-family: 'Poppins';
    font-size: 0.875rem; 
    font-weight: 400;
    line-height: 1.3125rem; 
    cursor: pointer;
}

.thoughtInput {
    color: black !important;
    border: none !important;
}

.customDiv {
    width: 4.125rem; 
    height: 4.125rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: -3.75rem; 
}

.customDivs {
    width: 4.125rem; 
    height: 4.125rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #fcd64a47; */
    backdrop-filter: blur(2.125rem); 
    background: radial-gradient(circle, #fbeecd 30%, #f8f5f3 70%);
}

.pointerClass{
    cursor: pointer;
}
